.Logo{
  height: 60px;
  width: 60px;
  border-radius: 20%;

}

.navbar_text{
  --tw-text-opacity: 1;
  color: DCD7C9 !important;
  background-color: rgb(17 24 39) !important;
}

.navbar_width{
  max-width: 1500px;
}

.lis_horizontal{
  display: flex;
  align-items: center;
}

.margin-R-20px{
  margin-right: 10px;
}

.hover_navbar:hover{
  color : A27B5C !important;
}

.navbarbutton{
  color: 2C3639 !important;
  background-color: #DCD7C9 !important;
}

.bg-white{
  background-color: rgb(17 24 39) !important;
}

.figcap {
  top: 10rem;
  WIDTH: 100%;
  MARGIN-LEFT: -35PX;
}

.figtext{
  color: white;
  font-size: 5.5rem !important;
  line-height: 7rem !important;
  padding-right: 7rem !important;
  padding-left: 13rem !important;
  text-align: center;
  
}

.judson-bold {
  font-family: "Judson", serif;
  font-weight: 700;
  font-style: normal;
}

.figtext-yellow{
  color: DCD7C9;
  font-size: 5.5rem !important;
  line-height: 7rem !important;
  text-align: center;
  
}

.containerTOP{
  height:670px ;
  width: 1920px;
  object-fit: fill;
  background-image: url(startimg.jpg);
  filter: brightness(50%);
  object-fit: fill;

}

.searchbar{
  top: 30rem;
  padding-left: 7rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  z-index: 2;
  position: absolute;
}

.maxwidth{
  width:100%;
}

.Searchbar_boarderradius{
  border-radius: 0% !important;
}

/* .Searchbar_boarderradius1{
  border-top-left-radius: 10% !important;
  border-bottom-left-radius: 10% !important;

} */

.upload_file{
  padding-top: 9px;
  padding-bottom: 15px;
}

.searchbar_searchicon {
  inset-inline-end: 43px;
  background-color: DCD7C9 !important;
  border-color: DCD7C9 !important;
}

.searchbar_searchicon_colour{
      --tw-bg-opacity: 1;
      color: #2C3639 !important;
}

.exploreMoreBoardings{
  font-family: "Judson", serif;
  font-size: 2rem;
  padding-left: 100px;
}

.dark\:bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39) !important;
}

.text-Cream{
  color: #DCD7C9 !important;
}

.text-darktellow{
  color: #A27B5C !important;
}

.text-brandBLue{
  color: rgb(17 24 39) !important;
}

.text-brand-lightblue{
  color: #3F4E4F  !important;
}


.bg-brand-yellow{
  background-color:#DCD7C9 ;
}

.bg-brand-darkyellow{
  background-color:#A27B5C ;
}

.bg-brand-blue{
  background-color: rgb(17 24 39);
}

.bg-brand-lightblue{
  background-color: #3F4E4F;
}


.maxwidth_122px{
  max-width: 122px;
}

.border-brand-colour{
  border-color: #A27B5C !important;
}

.border-brand-blue{
  border-color: rgb(17 24 39) !important;
}

.swiper{
width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;

}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}













/* .bar{
  width:650px;
  background:white;
  box-shadow:0 0 5px hsl(0 0% 78%);
  height:55px;
  border-radius:100vw;
  display:flex;
  justify-content:center;
  font-size:0.6rem;
}

.bar div{
  border-radius:inherit;
  padding:0.8rem 1.5rem;
  transition:background 250ms ease;
}

.bar div:hover{
  background:hsl(0 0% 94%);
}

.location{
  width:34%;
}
.check-in, .check-out, .guests{
  width:22%;
}

input[type="text"]{
  background:none;
  border:none;
  padding:0.2rem 0 0 0;
}

input[type="text"]:focus{
  outline:none;
}

::placeholder{
  font-size:0.75rem;
}

.guests{
  position: relative;  
}
.guests span{
  position:absolute;
  top:50%;
  right:10px;
  transform:translateY(-50%);
  background:#FF385C;
  color:white;
  font-size:0.8rem;
  padding:0.7rem;
  border-radius:50%;
}

.bar>div{
  position:relative;
}


.bar>div::before{
  position:absolute;
  content:"";
  left:0;
  top:50%;
  transform:translateY(-50%);
  width:1px;
  height:55%;
  background:hsl(0 0% 90%);
}

.bar>div:nth-of-type(1)::before{
   background:transparent;
}


.bar>div:hover::before{
  background:transparent;
} */