.Logo {
  height: 60px;
  width: 60px;
  border-radius: 20%;
}

.navbar_text {
  --tw-text-opacity: 1;
  color: #DCD7C9 !important;
  background-color: #2C3639 !important;
}

.navbar_width {
  width: 100%;
  top: 0;
  background-color: #2C3639;
}

.lis_horizontal {
  display: flex;
  align-items: center;
}

.margin-R-20px {
  margin-right: 10px;
}

.hover_navbar:hover {
  color: #A27B5C !important;
}

.navbarbutton {
  color: #2C3639 !important;
  background-color: #DCD7C9 !important;
}

.bg-white {
  background-color: #2C3639 !important;
}

.content_body {
  display: flex;
  margin-top: 6rem;
}

.side_bar {
  position: fixed !important;
}

.side_bar_top {
  margin-top: 1rem;
}

.space-y-2 {
  margin-left: -2rem;
}

.breadcrumb_bar {
  margin-left: 2rem;
  margin-top: 1rem;
}

.breadcrumb_text {
  color: #2C3639 !important;
}

.main-box {
  margin-top: 2rem !important;
}

.search-results {
  display: flex ;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap size as needed */
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* #searchResults .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap size as needed */
  margin-right: -20px;
}
 
*/

#searchResults .cards > * {
  flex: 0 0 calc(33.333% - 20px); /* Adjust based on the gap to ensure 3 items per row */
  margin-right: 20px; /* This should match the gap for consistency */
}

.cardsminwidth{
  min-width: 380px;
}

.results {
  margin-left: 15rem;
}


.text-2xl {
  color: #DCD7C9 !important;
}

.mb-2 {
  color: #2C3639 !important;
}

.text-gray-700 {
  color: #535352 !important;
}

.bg-blue-700 {
  color: #2C3639 !important;
  background-color: #DCD7C9 !important;
}

.ms-3 {
  font-size: 20px !important;
}

.text-Cream{
  color: #DCD7C9 !important;
}

.text-darktellow{
  color: #A27B5C !important;
}

.text-brandBLue{
  color: rgb(17 24 39) !important;
}

.text-brand-lightblue{
  color: #3F4E4F  !important;
}


.bg-brand-yellow{
  background-color:#DCD7C9 ;
}

.bg-brand-darkyellow{
  background-color:#A27B5C ;
}

.bg-brand-blue{
  background-color: rgb(17 24 39);
}

.bg-brand-lightblue{
  background-color: #3F4E4F;
}